<h1>Stupid Coaching</h1>
<div class="info">Ask your coach anything :</div>
<form class="form-inline ask" action="answer">
  <input class="form-control col-6 textarea" type="text" name="question">
  <input class="btn btn-primary" type="submit" value="Ask!">
</form>
